PORT=4000
DATABASE_URL=postgresql://USER:PASSWORD@localhost:5432/DBNAME?schema=public

JWT_ACCESS_SECRET=your_access_jwt_secret
JWT_REFRESH_SECRET=your_refresh_jwt_secret

ACCESS_TOKEN_TTL_DAYS=7
REFRESH_TOKEN_TTL_DAYS=30

REFRESH_COOKIE_NAME=refresh_token
NODE_ENV=development

